.about-product {
  width: 100%;
  margin: 0 0 42px;
  padding: 0 $padding-mobile;
}

.about-product__title {
  @include oswald;

  width: 100%;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black-2;
  margin: 0 0 35px;
  padding: 0;
}

.about-product__list {
  @include default-list;
  @include style-reset;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.about-product__item {
  position: relative;
  width: 100%;
  min-height: 60px;
  margin: 0 0 20px;
  padding: 0 0 0 80px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $leaf;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--ingredients::before {
    background-image: url("../../img/advantage-leaf@1x.png");
  }

  &--preparation::before {
    background-image: url("../../img/advantage-powder@1x.png");
  }

  &--periodicity::before {
    background-image: url("../../img/advantage-dining@1x.png");
  }

  &--result::before {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}

.about-product__text {
  @include style-reset;

  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $light-black;
}

@media (min-width: $tablet-width) {
  .about-product {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
    margin-bottom: 30px;
  }

  .about-product__title {
    font-size: 60px;
    margin-bottom: 63px;
  }

  .about-product__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-product__item {
    @include style-reset;

    width: 245px;
    min-height: 315px;
    margin: 0 88px 87px 0;
    padding: 117px 0 0;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      @include oswald;

      position: absolute;
      z-index: -1;
      top: 0;
      right: -92px;
      width: 230px;
      height: 71px;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      color: $light-grey;
    }

    &--ingredients::after {
      content: "1";
    }

    &--preparation::after {
      content: "2";
    }

    &--periodicity::after {
      content: "3";
    }

    &--result::after {
      content: "4";
    }
  }

  .about-product__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .about-product {
    margin-bottom: 130px;
  }

  .about-product__item {
    margin-right: 0;
  }
}

@media (min-width: $desktop-lg-width) {
  .about-product {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}
