.basic-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 15px 0 42px;
}

.basic-products__title {
  @include oswald;

  width: 100%;
  font-size: 36px;
  line-height: 60px;
  color: $black;
  border-bottom: 1px $grey-lines-catalog solid;
  margin: 0;
  padding: 0 $padding-mobile 28px;
}

.basic-products__list {
  @include default-list;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basic-products__item {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px $grey-lines-catalog solid;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .basic-products {
    padding: 58px $padding-tablet 0;
  }

  .basic-products__title {
    font-size: 60px;
    border-bottom: none;
    margin-bottom: 164px;
    padding: 0;
  }

  .basic-products__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .basic-products__item {
    width: 50%;
    border-bottom: none;
    padding: 0;
    margin-bottom: 139px;
    justify-content: flex-start;

    &:nth-child(2n) {
      justify-content: flex-end;
    }
  }
}

@media (min-width: $desktop-width) {
  .basic-products {
    padding-top: 75px;
    justify-content: flex-start;
  }

  .basic-products__item {
    width: 33%;
    margin-bottom: 142px;

    &:nth-child(2n) {
      justify-content: flex-start;
    }
  }
}

@media (min-width: $desktop-lg-width) {
  .basic-products {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }

  .basic-products__item {
    width: 245px;
    margin-right: 80px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
