.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 3px $leaf solid;
  margin: 0 0 42px;
  padding: 0 $padding-mobile 0;
}

.comment__title {
  width: 172px;
  margin-bottom: 31px;
}

.comment__textarea {
  @include oswald;

  width: 100%;
  height: 150px;
  border: 1px $grey-lines solid;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $light-black;
  margin: 0;
  padding: 15px;

  &:placeholder {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $light-black;
  }
}

@media (min-width: $tablet-width) {
  .comment {
    margin-bottom: 87px;
    padding-left: 70px;
    padding-right: 67px;
  }

  .comment__title {
    width: 273px;
    margin-bottom: 64px;
  }

  .comment__textarea {
    height: 174px;
    font-size: 20px;
    line-height: 30px;
    padding: 17px 20px;

    &:placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (min-width: $tablet-width) {
  .comment {
    margin-bottom: 89px;
  }

  .comment__title {
    margin-bottom: 71px;
  }
}

@media (min-width: $desktop-lg-width) {
  .comment {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}
