.copyright__link {
  display: flex;
  justify-content: space-around;
}

.copyright__link svg {
  width: 37px;
  height: 39px;
  margin: -12px 0 0;
  padding: 0;
}

.copyright__link path {
  fill: $index-svg-fill;
}

.copyright__text {
  width: 114px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $light-black;
  margin: 0;
  padding: 0;
}
