.examples {
  outline: 1px solid blue;
  padding-top: 33px;
  padding-bottom: 38px;
}

.examples__title {
  margin: 0;
}

.examples__text {
  color: $brown;
  font-family: ArialMT;
  font-size: 14px;
  line-height: 18px;
}

.examples__spent {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.examples__item-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.examples__small-text {
  color: $brown;
  font-family: ArialMT;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.examples-strides {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
