.example {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $light-grey;
  margin: 0 0 31px;
  padding: 0 20px;
}

.example__title {
  @include oswald;

  width: 100%;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
  margin: 33px 0;
  padding: 0;
}

.example__text {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $light-black;
  margin: 0 0 27px;
  padding: 0 10px 0 0;
}

.example__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 38px;
  padding: 0;
}

.example__area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  margin: 0;
}

.example__result {
  @include oswald;

  width: 124px;
  height: 56px;
  text-align: center;
  border: $grey-border-index 1px solid;
  border-radius: 5px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  padding: 13px 5px 15px;
}

.example__indicator {
  width: 82px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $light-black;
  background-color: $light-grey;
  margin: -8px 0 0;
  padding: 0;
}

.example__cost-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 44px;
  padding: 0;
}

.example__cost {
  @include oswald;
  @include style-reset;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  margin-right: 5px;
}

.example__cost-number {
  @include oswald;
  @include style-reset;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
}

.example__slider {
  width: 100%;
}
