.food {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  margin-bottom: 22px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 305px;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
}

.food__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food__title {
  @include style-reset;
  @include oswald;

  display: block;
  width: 280px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  text-align: center;
  margin-bottom: 28px;
}

.food__text {
  @include style-reset;
  @include oswald;

  display: block;
  width: 280px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  text-align: center;
  margin-bottom: 30px;
}

.food img {
  margin-bottom: 9px;
}

.food__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .food {
    padding-top: 45px;
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
    padding-bottom: 530px;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  .food__wrapper {
    width: 516px;
    padding-left: 90px;
    margin-right: auto;
  }

  .food__title {
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
    margin-bottom: 43px;
  }

  .food__text {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
    margin-bottom: 45px;
  }

  .food img {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  .food__button {
    width: 248px;
  }
}

@media (min-width: $desktop-width) {
  .food {
    position: static;
    padding-top: 100px;
    margin-bottom: 80px;

    &::before {
      display: block;
      width: 50%;
      height: 696px;
      top: 0;
      left: auto;
      right: 0;
      background-image: url("../img/index-background-desktop@1x.jpg");
    }
  }

  .food__wrapper {
    position: relative;
    width: 78%;
    align-items: flex-start;
    padding-bottom: 198px;
  }

  .food img {
    right: 0;
    width: 552px;
    height: 499px;
  }
}

@media (min-width: $desktop-lg-width) {
  .food {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}
