.form-container {
  @include style-reset;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 32px;
}

.form-container__title {
  @include oswald;

  width: 100%;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
  margin: 0 0 25px;
  padding: 0 $padding-mobile;
}

.form-container__text {
  @include oswald;

  width: 240px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  margin: 0 0 39px $padding-mobile;
  padding: 0;
}

.form-container__form {
  @include style-reset;

  width: 100%;
}

@media (min-width: $tablet-width) {
  .form-container {
    padding-top: 57px;
    padding-bottom: 71px;
  }

  .form-container__title {
    font-size: 60px;
    margin: 0 0 55px;
    padding: 0 31px 0 29px;
  }

  .form-container__text {
    width: 342px;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 66px 70px;
  }
}

@media (min-width: $desktop-width) {
  .form-container {
    padding-top: 75px;
    padding-bottom: 81px;
  }

  .form-container__title {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }

  .form-container__text {
    margin-left: $padding-desktop;
  }
}
