.goals {
  width: 100%;
  margin: 0 0 16px;
  padding: 0 $padding-mobile;
}

.goals__list {
  @include default-list;

  display: flex;
  flex-direction: column;
}

.goals__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 266px;
  background-color: $light-grey;
  margin: 0 0 $padding-mobile;
  padding: 21px $padding-mobile 0;

  &:last-child {
    margin: 0;
  }
}

.goals__title {
  @include oswald;

  position: relative;
  width: 100%;
  min-height: 51px;
  font-size: 24px;
  line-height: 37px;
  color: $black-2;
  text-transform: uppercase;
  margin: 0 0 24px;
  padding: 8px 5px 6px 71px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 50px;
    height: 51px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: $leaf;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::after {
    background-image: url("../../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    top: 0;
    left: 9px;
  }

  &--pro::after {
    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");
    top: 13px;
    left: -7px;
  }
}

.goals__text {
  width: 100%;
  min-height: 85px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $light-black;
  margin: 0 0 21px 0;
  padding: 0;
}

.goals__link {
  @include oswald;

  position: relative;
  width: 100%;
  height: 57px;
  font-size: 16px;
  line-height: 16px;
  color: $black-2;
  text-transform: uppercase;
  border-top: #d9d9d9 1px solid;
  outline: none;
  transition: opacity $transition;
  cursor: pointer;
  margin: 0;
  padding: $padding-mobile 0 22px;

  &::after {
    position: absolute;
    top: 21px;
    left: 97px;
    content: "";
    width: 25px;
    height: 12px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .goals {
    margin-bottom: 0;
    padding: 0 $padding-tablet 0;
  }

  .goals__item {
    margin-bottom: 31px;
    padding: 75px 52px 45px;
  }

  .goals__title {
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 11px;
    padding: 0;

    &::before {
      width: 200px;
      height: 200px;
      top: 16px;
      left: auto;
      right: 10px;
    }

    &--slim::after {
      width: 141px;
      height: 194px;
      top: 4px;
      left: auto;
      right: 40px;
    }

    &--pro::after {
      width: 268px;
      height: 113px;
      top: 57px;
      left: auto;
      right: -24px;
    }
  }

  .goals__title--slim + .goals__text {
    padding-right: 232px;
  }

  .goals__title--pro + .goals__text {
    padding-right: 260px;
  }

  .goals__text {
    min-height: 87px;
    font-size: 16px;
    line-height: 24px;
    padding-right: 232px;
    margin-bottom: 36px;
  }

  .goals__link {
    font-size: 20px;
    line-height: 20px;
    border-top: none;

    &::after {
      top: 24px;
      left: 131px;
    }
  }
}

@media (min-width: $desktop-width) {
  .goals {
    margin-top: -450px;
  }

  .goals__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goals__item {
    width: 46.7%;
    min-height: 372px;
    margin-bottom: 0;
    padding: 42px 52px 40px;
  }

  .goals__title {
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 44px;
    padding: 34px 3px 30px 162px;

    &::before {
      width: 100px;
      height: 100px;
      top: 5px;
      left: 0;
      right: auto;
    }

    &--slim::after {
      width: 71px;
      height: 97px;
      top: -1px;
      left: 13px;
      right: auto;
    }

    &--pro::after {
      width: 134px;
      height: 57px;
      top: 26px;
      left: -18px;
      right: auto;
    }
  }

  .goals__text {
    min-height: 64px;
    margin-bottom: 11px;
  }

  .goals__title--slim + .goals__text {
    padding-right: 0;
  }

  .goals__title--pro + .goals__text {
    padding-right: 0;
  }

  .goals__link {
    &:hover::after,
    &:focus::after {
      background-image: url("../../img/icon-right-arrow-verylong.svg");
      width: 34px;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media (min-width: $desktop-lg-width) {
  .goals {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}
