.goals {
  width: 100%;
  margin: 0 0 32px;
  padding: 0 20px;
}

.goals__list {
  @include default-list;
  display: flex;
  flex-direction: column;
}

.goals__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 266px;
  background-color: $light-grey;
  margin: 0 0 20px;
  padding: 0 20px;

  &:last-child {
    margin: 0;
  }
}

.goals__title {
  @include oswald;

  position: relative;
  width: 100%;
  min-height: 51px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $black-2;
  text-transform: uppercase;
  margin: 24px 0;
  padding: 8px 5px 6px 90px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 50px;
    height: 51px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: $leaf;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::after {
    background-image: url("../../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    top: 0;
    left: 9px;
  }

  &--pro::after {
    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");
    top: 12px;
    left: -8px;
  }
}

.goals__text {
  width: 100%;
  min-height: 85px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $light-black;
  margin: 0 0 23px 0;
  padding: 0;
}

.goals__link {
  @include oswald;

  position: relative;
  width: 100%;
  height: 57px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $black-2;
  text-transform: uppercase;
  border-top: #d9d9d9 1px solid;
  margin: auto 0 0 0;
  padding: 20px 0 22px;

  &::after {
    position: absolute;
    top: 21px;
    left: 97px;
    content: "";
    width: 25px;
    height: 12px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .goals {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  .goals__item {
    padding: 81px 52px 40px;
  }

  .goals__title {
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 31px;
    padding: 0 3px;

    &::before {
      width: 200px;
      height: 200px;
      left: auto;
      right: 15px;
    }

    &--slim::after {
      width: 141px;
      height: 194px;
      top: -9px;
      left: auto;
      right: 43px;
    }

    &--pro::after {
      width: 268px;
      height: 113px;
      top: 44px;
      left: auto;
      right: -16px;
    }
  }

  .goals__text {
    min-height: 87px;
    font-size: 16px;
    line-height: 24px;
    padding-right: 263px;
    margin-bottom: 42px;
  }

  .goals__link {
    font-size: 20px;
    line-height: 20px;
    border-top: none;

    &::after {
      top: 24px;
      left: 131px;
    }
  }
}

@media (min-width: $desktop-width) {
  .goals {
    margin-top: -530px;
  }

  .goals__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goals__item {
    width: 47%;
    min-height: 372px;
    margin-bottom: 0;
    padding: 47px 52px 40px;
  }

  .goals__title {
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 31px;
    padding: 34px 3px 30px 164px;

    &::before {
      width: 100px;
      height: 100px;
      left: 0;
      right: auto;
    }

    &--slim::after {
      width: 71px;
      height: 97px;
      top: -6px;
      left: 15px;
      right: auto;
    }

    &--pro::after {
      width: 134px;
      height: 57px;
      top: 25px;
      left: -16px;
      right: auto;
    }
  }

  .goals__text {
    min-height: 64px;
    padding-right: 0;
    margin-bottom: 16px;
  }
}

@media (min-width: $desktop-lg-width) {
  .goals {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}
