.location {
  display: flex;
  flex-direction: column;
}

.location__text {
  display: flex;
  background-color: $light-grey;
  margin: 0;
  padding: 27px $padding-mobile 26px;
}

.location__collaboration {
  @include oswald;
  @include style-reset;

  width: 136px;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  margin-right: 6px;
}

.location__address {
  @include style-reset;

  width: 141px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $light-black;
}

.location__address p {
  @include style-reset;
}

.location__map {
  width: 100%;
  height: 366px;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .location__text {
    justify-content: space-between;
    background-color: $white;
    padding: 66px 71px 58px;
  }

  .location__collaboration {
    width: 164px;
    font-size: 20px;
    line-height: 25px;
  }

  .location__address {
    width: 155px;
    text-align: right;
    font-size: 16px;
    margin-top: -3px;
  }

  .location__address p {
    margin-bottom: 20px;
  }

  .location__map {
    height: 396px;
    background-image: url("../../img/bg-map-tablet@1x.png");
  }
}

@media (min-width: $desktop-width) {
  .location {
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 95px 110px 103px;
  }

  .location__text {
    position: relative;
    width: 570px;
    min-height: 201px;
    background-color: $white;
    padding: 66px 90px 59px 76px;
    margin: 0;
    flex-shrink: 0;
    z-index: 1;
  }

  .location__address {
    text-align: left;
  }

  .location__map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-image: url("../../img/bg-map-desktop@1x.png");
    z-index: 0;
  }
}
