.nutrition-program {
  background-color: $green;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: $white;
  outline: 1px solid blue;
}

.nutrition-program__title {
  font-size: 36px;
  font-weight: 400;
}

.nutrition-program__slogan {
  font-size: 14px;
  text-transform: uppercase;
}

.nutrition-program__button {
  font-size: 14px;
  line-height: 18px;
}
