.other-goods {
  outline: 1px solid blue;
  padding-top: 31px;
  padding-bottom: 35px;
}

.other-goods__volume {
  color: $brown;
  font-family: "ArialMT";
  font-size: 14px;
  line-height: 14px;
}

.other-goods__price {
  color: $brown;
  font-family: "ArialMT";
  font-size: 14px;
  line-height: 14px;
}
