.page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-footer__location {
  @include style-reset;

  width: 100%;
}

.page-footer__bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $light-grey;
  margin: 0;
  padding: 0 $padding-mobile;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  width: 280px;
  min-height: 65px;
  border-bottom: $grey-border-index 1px solid;
  outline: none;
  transition: opacity $transition;
  margin: 0 auto;
  padding: 35px 0 32px;
}

.page-footer__logo[href] {
  cursor: pointer;
}

.page-footer__social {
  width: 280px;
  min-height: 63px;
  border-bottom: $grey-border-index 1px solid;
  margin: 0 auto;
  padding: 22px 18px 17px 73px;
}

.page-footer__copyright {
  width: 280px;
  margin: 0 auto;
  padding: 18px 0 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 54px $padding-tablet;
  }

  .page-footer__logo {
    width: 128px;
    min-height: 24px;
    border-bottom: none;
    margin: 0;
    padding: 11px 0 0 2px;
  }

  .page-footer__social {
    width: 150px;
    min-height: 28px;
    border-bottom: none;
    padding: 6px 0 0 22px;
  }

  .page-footer__copyright {
    @include style-reset;

    width: 162px;
    min-height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo[href] {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: $desktop-lg-width) {
  .page-footer__bottom-container {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}
