.product-card {
  width: 280px;
  min-height: 145px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 24px;
}

.product-card__image-link {
  width: 140px;
  height: 144px;
}

.product-card__description {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 0;
  padding: 21px 0 0;
}

.product-card__link {
  @include oswald;

  width: 76px;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  margin: 0 0 13px;
  padding: 0;
}

.product-card__title {
  @include style-reset;

  width: 100%;
  font: inherit;
}

.product-card__table {
  width: 100%;
  border-collapse: collapse;
}

.product-card__line {
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $light-black;
}

.product-card__indicator {
  text-align: left;
  padding: 0;
}

.product-card__value {
  text-align: right;
  padding: 0;
}

.product-card__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 324px;
    min-height: 431px;
    flex-direction: column;
    background-color: $light-grey;
    padding-bottom: 40px;
  }

  .product-card__image-link {
    width: 100%;
    min-height: 126px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    padding: 0;
    margin: -45px 0 64px 0;
  }

  .product-card--big .product-card__image-link {
    margin-top: -82px;
    margin-bottom: 101px;
  }

  .product-card__image-link img {
    width: 100%;
    max-width: none;
  }

  .product-card__description {
    width: 100%;
    align-items: center;
    padding: 0 37px 0 38px;
  }

  .product-card__link {
    width: 130px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 19px;
  }

  .product-card__table {
    margin-bottom: 33px;
  }

  .product-card__line {
    height: 32px;
    font-size: 16px;
    border-bottom: 1px $grey-border-index solid;
  }

  .product-card__button {
    width: 77%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
  }

  .product-card__image-link img {
    width: 245px;
  }

  .product-card__button {
    width: 69%;
  }
}
