.questionnaire {
  outline: 1px solid blue;
  padding-bottom: 34px;
}

.questionnaire__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.questionnaire__note {
  color: $brown;
  font-family: "ArialMT";
  font-size: 14px;
  line-height: 16px;
}

.send__button {
  border: none;
}
