.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include default-list;
  margin: 0;
  padding: 21px 5px;
}

.social__item {
  width: 22px;
  height: 19px;
  margin: 0 36px 0 0;
  padding: 0;
}

.social__item:last-child {
  margin: 0;
}

.social__link path,
.social__link circle {
  fill: $brownish-grey;
}
