html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  @include text-parameter(14px, 1.29, $color-text, 400);
  font-family: "Oswald", "ArialMT", sans-serif;
  background-color: #ffffff;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
textarea {
  appearance: none;
  outline: none;
}
