@mixin oswald {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

@mixin arial {
  font-family: "Arial", "Tahoma", sans-serif;
}

@mixin style-reset {
  padding: 0;
  margin: 0;
}

@mixin default-list {
  @include style-reset;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
