html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  @include arial;

  font-size: 14px;
  line-height: 18px;
  color: $light-black;
  font-weight: 400;
  min-width: 320px;
  background-color: $white;
  margin: 0 auto;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
textarea {
  appearance: none;
  outline: none;
}
