$tablet-width: 768px;
$desktop-lg-width: 1440px;
$desktop-width: 1280px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Цвета
$black: #000000;
$light-black: #444444;
$brownish-grey: #666666;
$light-grey: #f2f2f2;
$white: #ffffff;
$leaf: #68b738;

//Размеры
$padding-desktop: 110px;
$padding-tablet: 30px;
$padding-mobile: 20px;

//Анимация
$transition: 0.3s ease;