$tablet-width: 768px;
$desktop-lg-width: 1440px;
$desktop-width: 1280px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Цвета
$black: #000000;
$black-2: #222222;
$light-black: #444444;
$index-svg-fill: #666666;
$dark-grey: #d9d9d9;
$light-grey: #f2f2f2;
$grey-lines: #e6e6e6;
$grey-lines-catalog: #ededed;
$grey-toggles: #cecece;
$grey-border-index: #cdcdcd;
$white: #ffffff;
$leaf: #68b738;
$leaf-hover: #5eaa2f;

//Размеры
$padding-desktop: 110px;
$padding-tablet: 30px;
$padding-mobile: 20px;

//Анимация
$transition: 0.3s ease;
